*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 300;
    outline: none;
    transition: .2s;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-image: url('../img/loginBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.mask{
    height: 100%;
    width: 100%;
    background-color: rgba(82, 77, 77, 0.66);
    position: fixed;
    z-index: -1;
}
.container{
    padding-top: 150px;
}
.login-wrapper{
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    width: 450px;
    background-color: rgba(0,0,0,0.3);
}
.login-wrapper .login-info{font-weight:normal;font-size:150%;color: white}
#peak{
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
}
.form-control + .form-control{
    margin-top: 30px;
}
.form-control{
    margin: 0 auto;
    position: relative;
}
.form-control label{
    position: relative;
}
.form-control span{
    user-select: none;
    color: #D4CFCF;
    position: absolute;
    left: 0;
    top: 0;
}
.textfield{
    width: 300px;
    height: 36px;
    font-size: 16px;
    border: none;
    color: #FFF;
    background-color: transparent;
    border-bottom: 1px solid #FFF;
}
.textfield:focus + span{
    margin-top: -17px;
    font-size: 14px;
}
.labelactive{
    margin-top: -17px;
    font-size: 14px;
}
button{
    width: 150px;
    height: 30px;
    background-color: transparent;
    color: #FFF;
    border: 1px solid #FFF;
    cursor: pointer;
    border-radius: 0;
}
a{
    color: #FFF;
    text-decoration: none;
}
a.link{
    color: rgba( 255, 255, 255, 0.5);
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
}
.button{
    display: inline-block;
    position: relative;
    height: 35px;
    width: 150px;
}
.button{
    height: 35px;
    line-height: 35px;
    user-select: none;
}
.button span{
    display: block;
    background-color: #FFF;
    position: absolute;
    opacity: 0;
}
.button:hover span{
    opacity: 1;
}
.button span:nth-child(1){
    width: 150px;
    height: 1px;
    left: 150px;
    top: 0;
}
.button:hover span:nth-child(1){
    left: 0;
}
.button span:nth-child(2){
    width: 1px;
    height: 35px;
    right: 0;
    top: 35px;
}
.button:hover span:nth-child(2){
    top: 0;
}
.button span:nth-child(3){
    width: 150px;
    height: 1px;
    left: -150px;
    bottom: 0;
}
.button:hover span:nth-child(3){
    left: 0;
}
.button span:nth-child(4){
    width: 1px;
    height: 35px;
    left: 0;
    top: -35px;
}
.button:hover span:nth-child(4){
    top: 0;
}