  .row-three{max-width: 50px !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
  .row-four{max-width: 300px !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
  .row-five{
      max-width: 160px ;
      text-overflow: ellipsis;
        overflow: hidden;
      white-space: nowrap;
  }
  .row-right{
      max-width: 185px ;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }