<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antelopeh.home.mapper.BlockMapper">
  <resultMap id="BaseResultMap" type="com.antelopeh.home.model.Block">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="block_code" jdbcType="VARCHAR" property="blockCode" />
    <result column="block_name" jdbcType="VARCHAR" property="blockName" />
    <result column="block_type" jdbcType="VARCHAR" property="blockType" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, block_code, block_name, block_type, `status`
  </sql>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT * FROM block
    WHERE status = '1';
  </select>

</mapper>