<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatit.org//DTD Mapper 3.0//EN" "http://mybatit.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.antelopeh.home.mapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.antelopeh.home.model.Teacher">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="identity_code" jdbcType="VARCHAR" property="identityCode"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/><!-- 该字段使用dept_code查询dept表结果返回-->
        <result column="nation" jdbcType="VARCHAR" property="nation"/>
        <result column="politics" jdbcType="VARCHAR" property="politics"/>
        <result column="birth_time" jdbcType="TIMESTAMP" property="birthTime"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="user_code" jdbcType="VARCHAR" property="userCode"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <sql id="Base_sql">
        t.id , t.code , t.name , t.sex , t.identity_code , (select dept_name from dept d where d.dept_code = t.dept_code) as dept_name , t.nation , t.politics , t.birth_time , t.address , t.user_code , t.status
    </sql>

    <sql id="where_base_sql">
        <where>
            <trim>
                <if test="id != null and id != ''">
                    and t.id = #{id}
                </if>
                <if test="code != null and code != ''">
                    and t.code = #{code}
                </if>
                <if test="deptName != null and deptName != ''">
                    and t.dept_Code like CONCAT(#{deptName},'-%')
                </if>
                <if test="name != null and name != ''">
                    and t.name like CONCAT('%',#{name},'%')
                </if>
                <if test="sex != null and sex != ''">
                    and t.sex like CONCAT('%',#{sex},'%')
                </if>
            </trim>
        </where>
    </sql>

    <select id="select" resultMap="BaseResultMap" parameterType="com.antelopeh.home.model.Teacher">
        SELECT
        <include refid="Base_sql"/>
        FROM teacher t
        <include refid="where_base_sql"></include>
        ORDER BY t.dept_code,t.code
    </select>

    <select id="count" resultType="int" parameterType="com.antelopeh.home.model.Teacher">
        SELECT COUNT(1)
        FROM teacher t
        <include refid="where_base_sql"></include>
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_sql"/>
        FROM teacher t
        ORDER BY t.dept_code,t.code
    </select>
</mapper>